<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add
      name="MyConnectionString"
      connectionString="Data Source=sergio-desktop\sqlexpress;Initial 
    Catalog=MyDatabase;User ID=userName;Password=password"
      providerName="System.Data.SqlClient"
  />
  </connectionStrings>
</configuration>
