<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add
      name="MyConnectionString"
      connectionString="$(ReplacableToken_MyConnectionString-Web.config Connection String_0)"
      providerName="System.Data.SqlClient"
  />
  </connectionStrings>
</configuration>
